/*Created with Adobe RoboHelp 8.*/
P {
	font-family: Verdana;
	font-size: 9.0pt;
	text-align: left;
	color: #000000;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.4pt;
	margin-left: 5.8pt;
}
LI.P {
	font-family: Verdana;
	font-size: 9.0pt;
	text-align: left;
	color: #000000;
}
H1 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	text-align: left;
	color: #000080;
	margin-left: 5.75pt;
	margin-top: 12.0pt;
	margin-bottom: 12.0pt;
}
LI.H1 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	text-align: left;
	color: #000080;
}
H2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	color: #000080;
	margin-left: 5.75pt;
	margin-right: 6.5pt;
	margin-top: 12.0pt;
	margin-bottom: 2.4pt;
}
LI.H2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	color: #000080;
}
H3 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	margin-left: 5.75pt;
	margin-right: 6.5pt;
	margin-top: 12.0pt;
	margin-bottom: 3.0pt;
}
LI.H3 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
}
H4 {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	color: #800000;
	margin-left: 18.0pt;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.4pt;
}
LI.H4 {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	color: #800000;
}
H5 {
	font-family: Verdana;
	font-size: 11.0pt;
	text-align: left;
	margin-left: 5.75pt;
	margin-right: 6.5pt;
	margin-top: 12.0pt;
	margin-bottom: 3.0pt;
}
LI.H5 {
	font-family: Verdana;
	font-size: 11.0pt;
	text-align: left;
}
P.Normal-Indent {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	margin-left: 36.0pt;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.4pt;
}
LI.P-Normal-Indent {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
}
P.Note {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	text-align: left;
	text-indent: 0.0pt;
	color: #000000;
	letter-spacing: -0.25pt;
	margin-left: 6.0pt;
	margin-top: 4.0pt;
	margin-bottom: 10.0pt;
}
LI.P-Note {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	text-align: left;
	text-indent: 0.0pt;
	color: #000000;
	letter-spacing: -0.25pt;
}
P.Bullet {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -9.35pt;
	margin-left: 66.95pt;
	margin-top: 6.0pt;
	margin-bottom: 2.0pt;
}
LI.P-Bullet {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -9.35pt;
}
P.ProcHead {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	color: #000000;
	letter-spacing: -0.25pt;
	margin-left: 5.75pt;
	margin-top: 15.0pt;
	margin-bottom: 8.5pt;
}
LI.P-ProcHead {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	color: #000000;
	letter-spacing: -0.25pt;
}
P.Procedure-Step {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: pt;
	list-style-type: decimal;
	margin-left: 0.0pt;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.0pt;
}
LI.P-Procedure-Step {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: pt;
	list-style-type: decimal;
}
P.Procedure-Step-No-Number {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	list-style-type: circle;
	list-style-position: outside;
	list-style-image: url(ONESTEPSHADE.GIF);
	margin-left: 6.75pt;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.0pt;
}
LI.P-Procedure-Step-No-Number {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	list-style-type: circle;
	list-style-position: outside;
	list-style-image: url(ONESTEPSHADE.GIF);
}
P.BulletBitmap {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	list-style-type: square;
	list-style-image: none;
	margin-left: 0.0pt;
	margin-right: 6.5pt;
	margin-top: 6.0pt;
	margin-bottom: 2.0pt;
}
LI.P-BulletBitmap {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	list-style-type: square;
	list-style-image: none;
}
P.Bullet2 {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -18.0pt;
	margin-left: 23.75pt;
	margin-right: 6.5pt;
	margin-top: 4.0pt;
	margin-bottom: 0.0pt;
}
LI.P-Bullet2 {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -18.0pt;
}
P.Navigation-Buttons {
	font-family: Arial;
	font-size: 8.0pt;
	text-align: left;
	color: #000000;
	margin-left: -7.2pt;
	margin-top: 0.0pt;
	margin-bottom: 0.0pt;
}
LI.P-Navigation-Buttons {
	font-family: Arial;
	font-size: 8.0pt;
	text-align: left;
	color: #000000;
}
P.List-Bullet {
	font-size: 11.0pt;
	text-align: left;
	text-indent: -18.0pt;
	margin-left: 18.0pt;
	margin-right: 6.5pt;
	margin-top: 0.0pt;
	margin-bottom: 2.4pt;
}
LI.P-List-Bullet {
	font-size: 11.0pt;
	text-align: left;
	text-indent: -18.0pt;
}
P.Table-Body {
	font-family: Verdana;
	font-size: 9.0pt;
	text-align: left;
	margin-right: 6.5pt;
	margin-top: 3.0pt;
	margin-bottom: 3.0pt;
	font-weight: normal;
	font-style: normal;
}
LI.P-Table-Body {
	font-family: Verdana;
	font-size: 9.0pt;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
P.Table-Head {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
	margin-right: 6.5pt;
	margin-top: 3.0pt;
	margin-bottom: 2.0pt;
}
LI.P-Table-Head {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	text-align: left;
}
P.Option-List {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -72.0pt;
	line-height: 11.0pt;
	margin-left: 129.6pt;
	margin-right: 6.5pt;
	margin-top: 5.5pt;
	margin-bottom: 2.4pt;
}
LI.P-Option-List {
	font-family: Verdana;
	font-size: 10.0pt;
	text-align: left;
	text-indent: -72.0pt;
	line-height: 11.0pt;
}
A:link {
	font-weight: normal;
	color: #0000ff;
}
A:visited {
	font-weight: normal;
	color: #000080;text-decoration: underline;
}
BODY {
	background-color: #ffffff;
}
H2.Heading2VM {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	text-align: left;
	color: #6464FF;
	margin-left: 5.75pt;
	margin-right: 6.5pt;
	margin-top: 12.0pt;
	margin-bottom: 2.4pt;
}
LI.H2-Heading2VM {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	text-align: left;
	color: #6464FF;
}
A.expandspot {
	cursor: hand;
	color: #0000ff;
	font-style: normal;text-decoration: underline;
}
SPAN.expandtext {
	color: #0000ff;
	font-weight: normal;
	font-style: normal;
}
A.dropspot {
	cursor: hand;
	color: #0000ff;
	font-weight: normal;
	font-style: normal;text-decoration: underline;
}
A.glossterm {
	cursor: hand;
	color: #800000;
	font-style: normal;
}
SPAN.glosstext {
	color: #0000ff;
	font-weight: normal;
	font-style: normal;text-decoration: underline;
}
P.Code {
	font-family: "Courier New", monospace;
	color: #000080;
	margin-left: 5.8pt;
}
LI.P-Code {
	font-family: "Courier New", monospace;
	color: #000080;
}
P.CodeComment {
	font-family: "Courier New", monospace;
	color: #008000;
}
LI.P-CodeComment {
	font-family: "Courier New", monospace;
	color: #008000;
}
.RhinoCommand {
        font-family: "Courier New", monospace;
        font-weight: bold;
}
